/* input */
/* icon fonts */
/* line 8, style.scss */
.tbd-tag {
  display: inline-block;
  box-sizing: border-box;
  line-height: 36px;
}
/* line 13, style.scss */
.tbd-tag span {
  position: relative;
  display: block;
  padding: 0 15px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  color: #1b1e25;
  cursor: pointer;
  max-width: 150px;
}
/* line 24, style.scss */
.tbd-tag span:hover {
  color: #57cc95;
}
/* line 29, style.scss */
.tbd-tag .tbdi-cross {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  line-height: inherit;
  text-align: center;
}
/* line 38, style.scss */
.tbd-tag .tbdi-cross:hover {
  font-weight: bold;
}
/* line 45, style.scss */
.tbd-tag-active span,
.tbd-tag-active span:hover {
  background: #57cc95;
  color: #fff;
}
/* line 51, style.scss */
.tbd-tag-active .tbdi-cross {
  display: block;
}
/* line 57, style.scss */
.tbd-tag-with-close.tbd-tag-active span {
  padding-right: 30px;
}
/* line 63, style.scss */
.tbd-tag-list {
  margin: 0 -5px;
  zoom: 1;
}
/* line 5, ../../style/_mixins.scss */
.tbd-tag-list:before, .tbd-tag-list:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.tbd-tag-list:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 67, style.scss */
.tbd-tag-list .tbd-tag {
  float: left;
  margin: 0 5px 10px;
}
/* line 72, style.scss */
.tbd-tag-list .tbd-input-wrap {
  float: left;
  width: 130px;
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 1.5;
}
/* line 80, style.scss */
.tbd-tag-list .tbd-input-wrap-extra {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 3px 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #8b91a0;
}
/* line 93, style.scss */
.tbd-tag-list .tbd-input-wrap button.tbd-input-wrap-extra {
  border-color: transparent;
  border-left-width: 0;
  background-color: #fff;
  background-color: transparent\9;
  background-clip: padding-box;
  cursor: pointer;
  transition: all .3s linear;
}
/* line 102, style.scss */
:root .tbd-tag-list .tbd-input-wrap button.tbd-input-wrap-extra {
  background-color: #fff;
}
/* line 106, style.scss */
.tbd-tag-list .tbd-input-wrap button.tbd-input-wrap-extra:hover {
  color: #57cc95;
}
/* line 114, style.scss */
.tbd-tag-list .tbd-input-wrap-sm .tbd-input-wrap-extra {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 32px;
  font-size: 12px;
  line-height: 1.5;
}
/* line 121, style.scss */
.tbd-tag-list .tbd-input-wrap-lg .tbd-input, .tbd-tag-list .tbd-input-wrap-lg .tbd-input-wrap-extra {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  height: 40px;
  font-size: 14px;
  line-height: 1.5;
}
/* line 125, style.scss */
.tbd-tag-list .tbd-input-wrap-lg .tbd-input {
  padding: 3px 20px;
}
/* line 135, style.scss */
.tbd-tag-list-sm .tbd-tag {
  line-height: 32px;
}
/* line 139, style.scss */
.tbd-tag-list-sm .tbd-input,
.tbd-tag-list-sm .tbd-input-wrap-extra {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 32px;
  font-size: 12px;
  line-height: 1.5;
}
/* line 147, style.scss */
.tbd-tag-group {
  zoom: 1;
}
/* line 5, ../../style/_mixins.scss */
.tbd-tag-group:before, .tbd-tag-group:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.tbd-tag-group:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 150, style.scss */
.tbd-tag-group-title {
  float: left;
  width: 60px;
  line-height: 32px;
}
/* line 156, style.scss */
.tbd-tag-group-content {
  display: block;
  margin-left: 60px;
}
