/* input */
/* icon fonts */
/* line 11, style.scss */
.vc-dropdown {
  background-color: white;
  border: 1px solid #e5e9ec;
  box-shadow: 0 1px 4px rgba(40, 40, 40, 0.15);
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 999;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
  font-size: 12px;
  line-height: 1.5;
}
/* line 25, style.scss */
.vc-dropdown-multi {
  min-width: 500px !important;
}
/* line 27, style.scss */
.vc-dropdown-multi .vc-dropdown-menu {
  border-bottom: 1px solid #e5e9ec;
  clear: both;
}
/* line 31, style.scss */
.vc-dropdown-multi .vc-dropdown-menu-item {
  float: left;
  width: 24.5%;
  margin: 1px 1px;
}
/* line 36, style.scss */
:hover
.vc-dropdown-multi .vc-dropdown-menu-item-active {
  background-color: #57cc95;
  color: #f0f0f0;
}
/* line 43, style.scss */
.vc-dropdown-multi-a {
  color: #57cc95;
  float: right;
  text-decoration: none;
}
/* line 49, style.scss */
.vc-dropdown-multi-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}
/* line 57, style.scss */
.vc-dropdown-multi-result {
  float: left;
  width: calc(100% - 90px);
  padding: 10px 15px;
}
/* line 61, style.scss */
.vc-dropdown-multi-result > ul {
  margin: 8px 0;
}
/* line 64, style.scss */
.vc-dropdown-multi-result > ul > li {
  float: left;
  position: relative;
  padding: 0 20px 0 10px;
  margin: 0 3px 5px;
  max-width: 99%;
  height: 24px;
  background-color: #e5e9ec;
  border-radius: 3px;
  line-height: 24px;
  cursor: default;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 80, style.scss */
.vc-dropdown-multi-result-text {
  max-width: 80px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 86, style.scss */
.vc-dropdown-multi-result-delete {
  position: absolute;
  right: 4px;
  top: 0;
  padding: 0 0 0 8px;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  color: #999;
  line-height: inherit;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  font-size: "10px 	";
  -moz-transform: scale(0.83333) rotate(0deg);
  -ms-transform: scale(0.83333) rotate(0deg);
  -webkit-transform: scale(0.83333) rotate(0deg);
  transform: scale(0.83333) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-dropdown-multi-result-delete {
  font-size: 12px;
}
/* line 103, style.scss */
.vc-dropdown-multi-result-delete:before {
  content: "\e62d";
  display: block;
  font-family: "tbdicon" !important;
}
/* line 112, style.scss */
.vc-dropdown.slide-up-enter.slide-up-enter-active
.vc-dropdown.slide-up-appear.slide-up-appear-active {
  animation-name: tbdSlideUpIn;
}
/* line 117, style.scss */
.vc-dropdown.slide-up-enter.slide-up-enter-active
.vc-dropdown.slide-up-appear.slide-up-appear-active {
  animation-name: tbdSlideDownIn;
}
/* line 122, style.scss */
.vc-dropdown.slide-up-leave.slide-up-leave-active {
  animation-name: tbdSlideUpOut;
}
/* line 126, style.scss */
.vc-dropdown.slide-up-leave.slide-up-leave-active {
  animation-name: tbdSlideDownOut;
}
/* line 130, style.scss */
.vc-dropdown-hidden {
  display: none;
}
/* line 134, style.scss */
.vc-dropdown-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-height: 250px;
  overflow: auto;
}
/* line 142, style.scss */
.vc-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}
/* line 146, style.scss */
.vc-dropdown-menu-item-group-list > .vc-dropdown-menu-item {
  padding-left: 24px;
}
/* line 151, style.scss */
.vc-dropdown-menu-item-group-title {
  color: #8b91a0;
  line-height: 1.5;
  padding: 8px 15px;
}
/* line 157, style.scss */
.vc-dropdown-menu-item {
  position: relative;
  display: block;
  padding: 7px 15px;
  font-weight: normal;
  color: #1b1e25;
  white-space: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: background 0.3s ease;
}
/* line 169, style.scss */
.vc-dropdown-menu-item a {
  display: block;
  margin: -7px -15px;
  padding: 7px 15px;
  color: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
}
/* line 179, style.scss */
.vc-dropdown-menu-item a:hover {
  color: inherit;
  text-decoration: none;
}
/* line 185, style.scss */
.vc-dropdown-menu-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 190, style.scss */
.vc-dropdown-menu-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 194, style.scss */
.vc-dropdown-menu-item:hover, .vc-dropdown-menu-item-active {
  background-color: #f4f5f7;
  color: #1b1e25;
}
/* line 200, style.scss */
.vc-dropdown-menu-item-active {
  background-color: #ebeef0;
  color: #1b1e25;
}
/* line 204, style.scss */
.vc-dropdown-menu-item-active:hover {
  background-color: #ebeef0;
}
/* line 209, style.scss */
.vc-dropdown-menu-item-disabled {
  color: #8b91a0;
  cursor: not-allowed;
  opacity: 0.6;
}
/* line 214, style.scss */
.vc-dropdown-menu-item-disabled a {
  cursor: not-allowed;
}
/* line 218, style.scss */
.vc-dropdown-menu-item-disabled:hover {
  color: #8b91a0;
  background-color: #fff;
  cursor: not-allowed;
}
/* line 225, style.scss */
.vc-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #f0f0f0;
  line-height: 0;
}
/* line 235, style.scss */
.vc-dropdown .vc-dropdown-search {
  display: block;
  padding: 5px;
}
/* line 240, style.scss */
.vc-dropdown * {
  box-sizing: border-box;
}
/* line 244, style.scss */
.vc-dropdown-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
/* line 250, style.scss */
.vc-dropdown-wrap .vc-btn > .vci-down {
  display: inline-block;
  font-size: 12px;
  font-size: "10px 	";
  -moz-transform: scale(0.83333) rotate(0deg);
  -ms-transform: scale(0.83333) rotate(0deg);
  -webkit-transform: scale(0.83333) rotate(0deg);
  transform: scale(0.83333) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-dropdown-wrap .vc-btn > .vci-down {
  font-size: 12px;
}
/* line 254, style.scss */
.vc-dropdown-wrap .vci-down:before {
  transition: transform 0.2s ease;
}
/* line 258, style.scss */
.vc-dropdown-wrap .vc-btn-group {
  vertical-align: middle;
}
/* line 262, style.scss */
.vc-dropdown-wrap .vc-dropdown {
  left: 0;
  top: 100%;
  margin-top: 2px;
  min-width: 100px;
  display: none;
}
/* line 272, style.scss */
.vc-dropdown-wrap-open .vci-down:before {
  transform: rotate(180deg);
}
/* line 276, style.scss */
.vc-dropdown-wrap-open .vc-dropdown {
  display: block !important;
}
/* line 282, style.scss */
.vc-dropdown-wrap-open .vc-select-arrow:before {
  transform: rotate(180deg);
}
/* line 287, style.scss */
.vc-dropdown-wrap-open .vc-select-selection {
  border-color: #d2d4d8;
}
/* line 294, style.scss */
.vc-dropdown-has-submenu .vc-dropdown-menu {
  overflow: visible;
  max-height: none;
}
/* line 299, style.scss */
.vc-dropdown-submenu {
  position: relative;
}
/* line 302, style.scss */
.vc-dropdown-submenu-item {
  position: relative;
  padding-right: 20px;
}
/* line 306, style.scss */
.vc-dropdown-submenu-item:after {
  position: absolute;
  right: 5px;
  content: '\E600';
  font-family: 'tbdicon';
  display: inline-block;
  font-size: 12px;
  font-size: "8px 	";
  -moz-transform: scale(0.66667) rotate(0deg);
  -ms-transform: scale(0.66667) rotate(0deg);
  -webkit-transform: scale(0.66667) rotate(0deg);
  transform: scale(0.66667) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-dropdown-submenu-item:after {
  font-size: 12px;
}
/* line 315, style.scss */
.vc-dropdown-submenu .vc-dropdown {
  display: none;
  left: 100%;
  top: 0;
  margin-left: 4px;
}
/* line 321, style.scss */
.vc-dropdown-submenu .vc-dropdown:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 6px;
  height: 100%;
  opacity: 0;
}
/* line 333, style.scss */
.vc-dropdown-submenu:hover .vc-dropdown {
  display: block;
}
/* line 340, style.scss */
.vc-dropdown-footer {
  border-top: 1px solid #f0f0f0;
  padding: 5px;
}
/* line 344, style.scss */
.vc-dropdown-btns {
  border-top: 1px solid #f0f0f0;
}
/* line 347, style.scss */
.vc-dropdown-btns button {
  float: left;
  width: 50%;
}

/* line 354, style.scss */
.vc-dropdown-link {
  font-size: 12px;
  color: #3598dc;
  text-decoration: none;
}
/* line 359, style.scss */
.vc-dropdown-link .vci-down {
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  font-size: "8px 	";
  -moz-transform: scale(0.66667) rotate(0deg);
  -ms-transform: scale(0.66667) rotate(0deg);
  -webkit-transform: scale(0.66667) rotate(0deg);
  transform: scale(0.66667) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-dropdown-link .vci-down {
  font-size: 12px;
}
/* line 364, style.scss */
.vc-dropdown-link:hover {
  text-decoration: none;
  color: #5dade3;
}

/* line 371, style.scss */
.vc-dropdown-button .vci-down {
  display: inline-block;
  font-size: 12px;
  font-size: "10px 	";
  -moz-transform: scale(0.83333) rotate(0deg);
  -ms-transform: scale(0.83333) rotate(0deg);
  -webkit-transform: scale(0.83333) rotate(0deg);
  transform: scale(0.83333) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-dropdown-button .vci-down {
  font-size: 12px;
}
