//@import "input_group.less";
//@import "btn_group.less";
@import "../../style/ver";
@import "../../style/mixins";
@import "../../style/compatibility";

$dropdown-prefix-cls: $css-prefix + "dropdown";

$duration: .3s;

.#{$dropdown-prefix-cls} {
  background-color: white;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  z-index: 999;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
  font-size: $font-size-base;
  line-height: 1.5;

  &-multi {
    min-width: 500px!important;
    .#{$dropdown-prefix-cls}-menu {
      clear: right;
    }
    .#{$dropdown-prefix-cls}-menu-item {
      float: left;
      width: 24.5%;
      margin: 1px 1px;

      :hover
      &-active {
        background-color: $primary-color;
        color: #f0f0f0;
      }
    }

    &-footer {
      padding: 10px;
      text-align: center;
    }
  }

  &.slide-up-enter.slide-up-enter-active
  &.slide-up-appear.slide-up-appear-active {
    animation-name: tbdSlideUpIn;
  }

  &.slide-up-enter.slide-up-enter-active
  &.slide-up-appear.slide-up-appear-active {
    animation-name: tbdSlideDownIn;
  }

  &.slide-up-leave.slide-up-leave-active {
    animation-name: tbdSlideUpOut;
  }

  &.slide-up-leave.slide-up-leave-active {
    animation-name: tbdSlideDownOut;
  }

  &-hidden {
    display: none;
  }

  &-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    max-height: 250px;
    overflow: auto;

    &-item-group-list {
      margin: 0;
      padding: 0;

      > .#{$dropdown-prefix-cls}-menu-item {
                                 padding-left: 24px;
                               }
    }

    &-item-group-title {
      color: $gray-color;
      line-height: 1.5;
      padding: 8px 15px;
    }

    &-item {
      position: relative;
      display: block;
      padding: 7px 15px;
      font-weight: normal;
      color: $base-color;
      white-space: nowrap;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: background 0.3s ease;

      a {
        display: block;
        margin: -7px -15px;
        padding: 7px 15px;
        color: inherit;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }

      &:first-child {
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
      }
      &:hover,
      &-active {
        background-color: lighten($base-bg, 5%);
        color: $base-color;
      }

      &-active {
        background-color: lighten($base-bg, 2%);
        color: $base-color;

        &:hover {
          background-color: lighten($base-bg, 2%);
        }
      }

      &-disabled {
        color: $gray-color;
        cursor: not-allowed;
        opacity: 0.6;

        a {
          cursor: not-allowed;
        }

        &:hover {
          color: $gray-color;
          background-color: #fff;
          cursor: not-allowed;
        }
      }

      &-divider {
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        background-color: $border-color-split;
        line-height: 0;
      }
    }
}

.#{$dropdown-prefix-cls}-search {
 display: block;
 padding: 5px;
}

* {
  box-sizing: border-box;
}

&-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  .#{$css-prefix}btn > .#{$iconfont-css-prefix}-down {
     @include iconfont-size-under-12px(10px);
   }

  .#{$iconfont-css-prefix}-down:before {
     transition: transform 0.2s ease;
  }

  .#{$css-prefix}btn-group {
    vertical-align: middle;
  }

  .#{$dropdown-prefix-cls} {
    left: 0;
    top: 100%;
    margin-top: 2px;
    min-width: 100px;
    display: none;
  }
}

&-wrap-open {
  .#{$iconfont-css-prefix}-down:before {
     transform: rotate(180deg);
   }

  .#{$dropdown-prefix-cls} {
    display: block!important;
  }

  // select
  .#{$css-prefix}select-arrow {
    &:before {
      transform: rotate(180deg);
    }
  }

  .#{$css-prefix}select-selection {
      @include active();
  }
}

// 二级菜单
&-has-submenu {
  .#{$dropdown-prefix-cls}-menu {
     overflow: visible;
     max-height: none;
   }
  }
  &-submenu {
    position: relative;

    &-item {
      position: relative;
      padding-right: 20px;

      &:after {
        position: absolute;
        right: 5px;
        content: '\E600';
        font-family: 'tbdicon';
        @include iconfont-size-under-12px(8px);
      }
    }

    .#{$dropdown-prefix-cls} {
      display: none;
      left: 100%;
      top: 0;
      margin-left: 4px;

      &:after {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        width: 6px;
        height: 100%;
        opacity: 0;
      }
    }

    &:hover {
      .#{$dropdown-prefix-cls} {
        display: block;
      }
    }
  }

  // 底部模块
  &-footer {
    border-top: 1px solid $border-color-split;
    padding: 5px;
  }
  &-btns {
    border-top: 1px solid $border-color-split;

    button {
      float: left;
      width: 50%;
    }
  }
}

.#{$dropdown-prefix-cls}-link {
   font-size: 12px;
   color: $link-color;
   text-decoration: none;

   .#{$iconfont-css-prefix}-down {
     font-weight: bold;
     @include iconfont-size-under-12px(8px);
    }

   &:hover {
     text-decoration: none;
     color: $link-hover-color;
   }
 }

.#{$dropdown-prefix-cls}-button {
 .#{$iconfont-css-prefix}-down {
    @include iconfont-size-under-12px(10px);
  }
}
