/* input */
/* icon fonts */
/* line 9, style.scss */
.vc-pagination {
  margin: 0 0 20px;
  font-size: 12px;
  zoom: 1;
}
/* line 5, ../../style/_mixins.scss */
.vc-pagination:before, .vc-pagination:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.vc-pagination:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 14, style.scss */
.vc-pagination-records {
  float: left;
  line-height: 24px;
  color: #8b91a0;
}
/* line 19, style.scss */
.vc-pagination-per-page {
  position: relative;
  top: -2px;
  padding: 0 5px;
  *position: static;
  height: 24px;
  width: auto;
  vertical-align: middle;
}
/* line 28, style.scss */
.vc-pagination .vc-select {
  height: 24px;
}
/* line 31, style.scss */
.vc-pagination .vc-select-selection-single {
  height: 24px;
}
/* line 34, style.scss */
.vc-pagination .vc-select-selection-single .vc-select-selection-rendered {
  line-height: 22px;
}
/* line 39, style.scss */
.vc-pagination-btns {
  float: right;
}
/* line 42, style.scss */
.vc-pagination-btns a, .vc-pagination-btns-dot {
  float: left;
  margin-left: 4px;
  padding: 0 9px;
  height: 24px;
  min-width: 4px;
  box-sizing: border-box;
  border: 1px solid #e5e9ec;
  color: #8b91a0;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
}
/* line 56, style.scss */
.vc-pagination-btns a:hover {
  border-color: #57cc95;
  color: #57cc95;
  text-decoration: none;
}
/* line 61, style.scss */
.vc-pagination-btns .vc-pagination-btns-active {
  border-color: #57cc95;
  background: #57cc95;
  color: #fff;
  font-weight: normal;
}
/* line 67, style.scss */
.vc-pagination-btns .vc-pagination-btns-active:hover {
  color: #fff;
}
/* line 71, style.scss */
.vc-pagination-btns .vc-pagination-btns-dot {
  padding: 0;
  width: 24px;
  line-height: 24px;
  border: none;
}
/* line 77, style.scss */
.vc-pagination-btns .vc-pagination-btns-first, .vc-pagination-btns .vc-pagination-btns-prev, .vc-pagination-btns .vc-pagination-btns-next, .vc-pagination-btns .vc-pagination-btns-last {
  padding: 0;
  width: 24px;
}
/* line 84, style.scss */
.vc-pagination-btns-first:after, .vc-pagination-btns-prev:after, .vc-pagination-btns-next:after, .vc-pagination-btns-last:after {
  display: inline-block;
  display: inline-block;
  font-size: 12px;
  font-size: "8px 	";
  -moz-transform: scale(0.66667) rotate(0deg);
  -ms-transform: scale(0.66667) rotate(0deg);
  -webkit-transform: scale(0.66667) rotate(0deg);
  transform: scale(0.66667) rotate(0deg);
  font-family: 'tbdicon';
  font-weight: bold;
  content: '\e62c';
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-pagination-btns-first:after, :root .vc-pagination-btns-prev:after, :root .vc-pagination-btns-next:after, :root .vc-pagination-btns-last:after {
  font-size: 12px;
}
/* line 94, style.scss */
.vc-pagination-btns-prev:after {
  content: '\e601';
}
/* line 97, style.scss */
.vc-pagination-btns-next:after {
  content: '\e600';
}
/* line 100, style.scss */
.vc-pagination-btns-last:after {
  content: '\e62b';
}
/* line 103, style.scss */
.vc-pagination-btns-records {
  float: left;
  margin-left: 10px;
  line-height: 24px;
  color: #8b91a0;
}
/* line 108, style.scss */
.vc-pagination-btns-records em {
  margin: 0 3px;
  color: #57cc95;
}
/* line 113, style.scss */
.vc-pagination-btns-goto {
  float: left;
  margin-left: 10px;
  line-height: 24px;
}
/* line 118, style.scss */
.vc-pagination-btns-goto .vc-input {
  margin: 0 5px;
  width: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 24px;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 5px;
  padding-right: 5px;
}
