/* input */
/* icon fonts */
/* line 8, style.scss */
.vc-input[type=text], .vc-input[type=url], .vc-input[type=password], .vc-input[type=email], .vc-input[type=search] {
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 10px;
  border: 1px solid #e5e9ec;
  border-radius: 3px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  font-size: 12px;
  line-height: 1.5;
  color: #1b1e25;
}
/* line 46, ../../style/_mixins.scss */
.vc-input[type=text]::-moz-placeholder, .vc-input[type=url]::-moz-placeholder, .vc-input[type=password]::-moz-placeholder, .vc-input[type=email]::-moz-placeholder, .vc-input[type=search]::-moz-placeholder {
  color: #8b91a0;
  opacity: 1;
}
/* line 51, ../../style/_mixins.scss */
.vc-input[type=text]:-ms-input-placeholder, .vc-input[type=url]:-ms-input-placeholder, .vc-input[type=password]:-ms-input-placeholder, .vc-input[type=email]:-ms-input-placeholder, .vc-input[type=search]:-ms-input-placeholder {
  color: #8b91a0;
}
/* line 55, ../../style/_mixins.scss */
.vc-input[type=text]::-webkit-input-placeholder, .vc-input[type=url]::-webkit-input-placeholder, .vc-input[type=password]::-webkit-input-placeholder, .vc-input[type=email]::-webkit-input-placeholder, .vc-input[type=search]::-webkit-input-placeholder {
  color: #8b91a0;
}
/* line 23, style.scss */
.vc-input[type=text]:focus, .vc-input[type=url]:focus, .vc-input[type=password]:focus, .vc-input[type=email]:focus, .vc-input[type=search]:focus {
  border-color: #d2d4d8;
}
/* line 27, style.scss */
.vc-input[type=text][disabled], .vc-input[type=url][disabled], .vc-input[type=password][disabled], .vc-input[type=email][disabled], .vc-input[type=search][disabled] {
  border-color: #d2d4d8;
  background: #e5e9ec;
  color: #999eab;
  cursor: not-allowed;
}
/* line 36, style.scss */
.vc-input-sm, .vc-input-sm[type=text], .vc-input-sm[type=url], .vc-input-sm[type=password], .vc-input-sm[type=email], .vc-input-sm[type=search] {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 32px;
  font-size: 12px;
  line-height: 1.5;
}
/* line 47, style.scss */
.vc-input-lg, .vc-input-lg[type=text], .vc-input-lg[type=url], .vc-input-lg[type=password], .vc-input-lg[type=email], .vc-input-lg[type=search] {
  padding: 3px 20px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  height: 40px;
  font-size: 14px;
  line-height: 1.5;
}
/* line 59, style.scss */
.vc-input-extra {
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 10px;
  border: 1px solid #e5e9ec;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  font-size: 12px;
  line-height: 1.5;
  line-height: 18px;
  background: #e5e9ec;
  color: #1b1e25;
  white-space: nowrap;
}

/* line 73, style.scss */
vc-input {
  height: auto;
}
