@import "../../style/ver";

$badge-prefix-cls: $css-prefix + "badge";

.#{$badge-prefix-cls} {
  display: inline-block;
  padding: 0 5px;
  height: 18px;
  min-width: 8px;
  text-align: center;
  background: $error-color;
  border-radius: 10px;
  color: #fff;
  line-height: 18px;

  &-wrap {
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $gray-color;

    .#{$badge-prefix-cls} {
    position: absolute;
    left:100%;
    top: -8px;
    margin-left: -5px;

    &-dot {
      position: absolute;
      left: 100%;
      top: 2px;
      margin-left: -4px;
    }
  }
  }

  &-dot {
    width: 8px;
    height: 8px;
    background: $error-color;
    border-radius: 50%;
  }
}
