/* input */
/* icon fonts */
/* line 37, style.scss */
.tbd-form-item-required:before {
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  font-size: 12px;
  color: #f35958;
}

/* line 47, style.scss */
.tbd-form-item {
  font-size: 12px;
  margin-bottom: 24px;
  box-sizing: border-box;
}
/* line 53, style.scss */
.tbd-form-item-row > [class*="tbd-col-"] {
  padding-right: 8px;
}
/* line 58, style.scss */
.tbd-form-item.tbd-form-item-with-help {
  margin-bottom: 6px;
}
/* line 62, style.scss */
.tbd-form-item.tbd-form-item-only-text {
  margin-bottom: 0;
}
/* line 65, style.scss */
.tbd-form-item.tbd-form-item-only-text > label {
  padding-top: 0;
}
/* line 69, style.scss */
.tbd-form-item.tbd-form-item-only-text .tbd-form-item-control {
  line-height: 1.5;
}
/* line 73, style.scss */
.tbd-form-item.tbd-form-item-only-text .tbd-form-text {
  padding-top: 0;
}
/* line 77, style.scss */
.tbd-form-item.tbd-form-item-only-text .tbd-switch {
  margin: 0;
}
/* line 82, style.scss */
.tbd-form-item > [class*="tbd-col-"] {
  padding-right: 8px;
}
/* line 86, style.scss */
.tbd-form-item > label {
  color: #1b1e25;
  text-align: right;
  vertical-align: middle;
  padding-right: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
}
/* line 95, style.scss */
.tbd-form-item .tbd-switch-sm {
  margin: 8px 0;
}
/* line 99, style.scss */
.tbd-form-item .tbd-input-wrap {
  vertical-align: middle;
}
/* line 102, style.scss */
.tbd-form-item textarea.tbd-input {
  vertical-align: middle;
}
/* line 106, style.scss */
.tbd-form-item .tbd-label {
  padding-top: 6px;
}

/* line 111, style.scss */
.tbd-form-footer {
  margin-top: 24px;
}
/* line 114, style.scss */
.tbd-form-footer .tbd-btn {
  margin-right: 10px;
}

/* line 119, style.scss */
.tbd-form-explain {
  line-height: 1.5;
  margin-top: 3px;
  color: #8b91a0;
}
/* line 124, style.scss */
.tbd-form-explain-inline {
  margin-top: 0;
  padding: 9px 0;
}

/* line 131, style.scss */
.tbd-form-text {
  display: inline-block;
  padding: 9px 8px 9px 0;
  color: #1b1e25;
  line-height: 1.5;
}

/* line 138, style.scss */
.tbd-form-split {
  display: block;
  text-align: center;
  line-height: 36px;
}

/* line 145, style.scss */
.tbd-form-horizontal {
  max-width: 700px;
}
/* line 148, style.scss */
.tbd-form-horizontal .tbd-form-item,
.tbd-form-horizontal .tbd-form-item-row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  box-sizing: border-box;
}
/* line 5, ../../style/_mixins.scss */
.tbd-form-horizontal .tbd-form-item:before, .tbd-form-horizontal .tbd-form-item:after,
.tbd-form-horizontal .tbd-form-item-row:before,
.tbd-form-horizontal .tbd-form-item-row:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.tbd-form-horizontal .tbd-form-item:after,
.tbd-form-horizontal .tbd-form-item-row:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

/* line 156, style.scss */
.tbd-form-detail .tbd-form-item > label {
  color: #8b91a0;
}

/* line 162, style.scss */
.tbd-form-inline {
  margin-bottom: 20px;
}
/* line 165, style.scss */
.tbd-form-inline .tbd-form-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
}
/* line 171, style.scss */
.tbd-form-inline .tbd-form-item-with-help {
  margin-bottom: 24px;
}
/* line 175, style.scss */
.tbd-form-inline .tbd-form-item > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 181, style.scss */
.tbd-form-inline .pull-right > .tbd-form-item {
  margin-left: 10px;
  margin-right: 0;
}
/* line 186, style.scss */
.tbd-form-inline .tbd-input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
/* line 191, style.scss */
.tbd-form-inline .tbd-input-wrap {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
/* line 196, style.scss */
.tbd-form-inline .tbd-input-wrap .tbd-input {
  width: 100%;
}
/* line 202, style.scss */
.tbd-form-inline .tbd-input-group .tbd-input {
  width: 100%;
}
/* line 208, style.scss */
.tbd-form-inline .tbd-form-text {
  display: inline-block;
}
/* line 212, style.scss */
.tbd-form-inline .has-feedback {
  display: inline-block;
}
/* line 216, style.scss */
.tbd-form-inline .tbd-label {
  margin-right: 0;
}

/* line 224, style.scss */
.tbd-form-horizontal label > input[type="radio"],
.tbd-form-horizontal label > input[type="checkbox"],
.tbd-form-inline label > input[type="radio"],
.tbd-form-inline label > input[type="checkbox"] {
  margin-right: 4px;
}

/* line 236, style.scss */
.has-success.has-feedback:after,
.has-warning.has-feedback:after,
.has-error.has-feedback:after,
.is-validating.has-feedback:after {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "tbdicon" !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

/* line 251, style.scss */
.has-success.has-feedback:after {
  animation-name: diffZoomIn1 !important;
}

/* line 257, style.scss */
.has-error.has-feedback:after {
  animation-name: diffZoomIn2 !important;
}

/* line 263, style.scss */
.has-warning.has-feedback:after {
  animation-name: diffZoomIn3 !important;
}

/* line 11, style.scss */
.has-success .tbd-form-explain,
.has-success .tbd-form-split {
  color: #57cc95;
}
/* line 17, style.scss */
.has-success .tbd-input {
  border-color: #57cc95;
}
/* line 20, style.scss */
.has-success .tbd-input:not([disabled]):hover {
  border-color: #57cc95;
}
/* line 25, style.scss */
.has-success .tbd-input-group-extra {
  color: #57cc95;
  border-color: #57cc95;
  background-color: #e5e9ec;
}
/* line 31, style.scss */
.has-success .has-feedback {
  color: #57cc95;
}
/* line 271, style.scss */
.has-success.has-feedback:after {
  content: '\e62f';
  color: #57cc95;
}

/* line 11, style.scss */
.has-warning .tbd-form-explain,
.has-warning .tbd-form-split {
  color: #f9ba46;
}
/* line 17, style.scss */
.has-warning .tbd-input {
  border-color: #f9ba46;
}
/* line 20, style.scss */
.has-warning .tbd-input:not([disabled]):hover {
  border-color: #f9ba46;
}
/* line 25, style.scss */
.has-warning .tbd-input-group-extra {
  color: #f9ba46;
  border-color: #f9ba46;
  background-color: #e5e9ec;
}
/* line 31, style.scss */
.has-warning .has-feedback {
  color: #f9ba46;
}
/* line 280, style.scss */
.has-warning.has-feedback:after {
  content: '\e634';
  color: #f9ba46;
}

/* line 11, style.scss */
.has-error .tbd-form-explain,
.has-error .tbd-form-split {
  color: #f35958;
}
/* line 17, style.scss */
.has-error .tbd-input {
  border-color: #f35958;
}
/* line 20, style.scss */
.has-error .tbd-input:not([disabled]):hover {
  border-color: #f35958;
}
/* line 25, style.scss */
.has-error .tbd-input-group-extra {
  color: #f35958;
  border-color: #f35958;
  background-color: #e5e9ec;
}
/* line 31, style.scss */
.has-error .has-feedback {
  color: #f35958;
}
/* line 289, style.scss */
.has-error.has-feedback:after {
  content: '\e634';
  color: #f35958;
}

/* line 296, style.scss */
.is-validating.has-feedback:after {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
  content: "\e6a1";
}

@-moz-keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
