/* input */
/* icon fonts */
/* line 7, style.scss */
.tbd-textarea {
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 10px;
  border: 1px solid #e5e9ec;
  border-radius: 3px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  font-size: 12px;
  line-height: 1.5;
  color: #1b1e25;
  height: auto;
}
/* line 44, ../../style/_mixins.scss */
.tbd-textarea::-moz-placeholder {
  color: #8b91a0;
  opacity: 1;
}
/* line 49, ../../style/_mixins.scss */
.tbd-textarea:-ms-input-placeholder {
  color: #8b91a0;
}
/* line 53, ../../style/_mixins.scss */
.tbd-textarea::-webkit-input-placeholder {
  color: #8b91a0;
}
/* line 19, style.scss */
.tbd-textarea:focus {
  border-color: #d2d4d8;
}
/* line 23, style.scss */
.tbd-textarea[disabled] {
  border-color: #d2d4d8;
  background: #e5e9ec;
  color: #999eab;
  cursor: not-allowed;
}
