/* input */
/* icon fonts */
/* line 10, style.scss */
.tbd-progress {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
}
/* line 16, style.scss */
.tbd-progress-line-wrap {
  position: relative;
  height: 18px;
  zoom: 1;
}
/* line 5, ../../style/_mixins.scss */
.tbd-progress-line-wrap:before, .tbd-progress-line-wrap:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.tbd-progress-line-wrap:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 21, style.scss */
.tbd-progress-line {
  margin-top: 4px;
  height: 10px;
  margin-right: 45px;
  background: #e5e9ec;
}
/* line 28, style.scss */
.tbd-progress-full .tbd-progress-line {
  margin-right: 0;
}
/* line 32, style.scss */
.tbd-progress-line-bg, .tbd-progress-line-extra-bg {
  float: left;
  height: 100%;
  background-color: #3598dc;
  transition: all 0.3s linear 0s;
  position: relative;
}
/* line 40, style.scss */
.tbd-progress-line-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  text-align: left;
  font-size: 1em;
  margin-left: 10px;
}
/* line 49, style.scss */
.tbd-progress-line-text .tbdi {
  font-weight: bold;
  font-size: 12px;
}
/* line 55, style.scss */
.tbd-progress-title {
  zoom: 1;
}
/* line 5, ../../style/_mixins.scss */
.tbd-progress-title:before, .tbd-progress-title:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.tbd-progress-title:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 58, style.scss */
.tbd-progress-title h3 {
  float: left;
  font-size: 12px;
  font-weight: normal;
}
/* line 64, style.scss */
.tbd-progress-title-info {
  float: right;
  color: #8b91a0;
}
/* line 70, style.scss */
.tbd-progress-explain {
  color: #8b91a0;
}
/* line 76, style.scss */
.tbd-progress-extra .tbd-progress-line-bg {
  background-color: #57cc95;
}
/* line 82, style.scss */
.tbd-progress.status-active .tbd-progress-line-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 20px 20px;
  background: transparent\9;
  border-radius: 10px;
  animation: progress-active 0.5s linear infinite;
}
/* line 97, style.scss */
.tbd-progress.status-error .tbd-progress-line-bg {
  background-color: #f35958;
}
/* line 100, style.scss */
.tbd-progress.status-error .tbd-progress-line-text,
.tbd-progress.status-error .tbd-progress-explain {
  color: #f35958;
}
/* line 106, style.scss */
.tbd-progress.status-success .tbd-progress-line-bg {
  background-color: #57cc95;
}
/* line 109, style.scss */
.tbd-progress.status-success .tbd-progress-line-text,
.tbd-progress.status-success .tbd-progress-explain {
  color: #57cc95;
}
/* line 115, style.scss */
.tbd-progress.status-warning .tbd-progress-line-bg {
  background-color: #f9ba46;
}
/* line 118, style.scss */
.tbd-progress.status-warning .tbd-progress-line-text,
.tbd-progress.status-warning .tbd-progress-explain {
  color: #f9ba46;
}
/* line 126, style.scss */
.tbd-progress-lg .tbd-progress-line {
  margin-top: 0;
  height: 20px;
}
/* line 130, style.scss */
.tbd-progress-lg .tbd-progress-line-text {
  line-height: 20px;
}
/* line 134, style.scss */
.tbd-progress-lg .tbd-progress-wrap {
  height: 20px;
}

@-moz-keyframes progress-active {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
@-webkit-keyframes progress-active {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
@keyframes progress-active {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
