/* input */
/* icon fonts */
/* line 10, style.scss */
.tbd-select {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  color: #1b1e25;
  font-size: 12px;
}
/* line 20, style.scss */
.tbd-select-arrow {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -5px;
  color: #8b91a0;
  display: inline-block;
  font-size: 12px;
  font-size: "8px 	";
  -moz-transform: scale(0.66667) rotate(0deg);
  -ms-transform: scale(0.66667) rotate(0deg);
  -webkit-transform: scale(0.66667) rotate(0deg);
  transform: scale(0.66667) rotate(0deg);
}
/* line 68, ../../style/_mixins.scss */
.tbd-select-arrow:before {
  display: block;
  font-family: "tbdicon" !important;
}
/* line 11, ../../style/_compatibility.scss */
:root .tbd-select-arrow {
  font-size: 12px;
}
/* line 30, style.scss */
.tbd-select-arrow:before {
  content: '\e611';
  transition: transform 0.2s ease;
}
/* line 36, style.scss */
.tbd-select-selection {
  outline: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e5e9ec;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 48, style.scss */
.tbd-select-selection:active {
  border-color: #d2d4d8;
}
/* line 51, style.scss */
.tbd-select-selection:active .tbd-select-arrow {
  color: #1b1e25;
}
/* line 60, style.scss */
.tbd-select-selection:hover .tbd-select-selection-clear {
  opacity: 1;
}
/* line 102, ../../style/_mixins.scss */
.tbd-select-disabled:focus {
  border-color: #d2d4d8;
  background: #d2d4d8;
  color: #999eab;
  cursor: not-allowed;
}
/* line 69, style.scss */
.tbd-select-disabled:active .tbd-select-arrow {
  color: #8b91a0;
  opacity: 0.6;
}
/* line 76, style.scss */
.tbd-select-disabled .tbd-select-selection {
  border-color: #d2d4d8;
  background: #e5e9ec;
  cursor: not-allowed;
}
/* line 80, style.scss */
.tbd-select-disabled .tbd-select-selection:hover, .tbd-select-disabled .tbd-select-selection:active {
  border-color: #d2d4d8;
}
/* line 86, style.scss */
.tbd-select-selection-single {
  height: 36px;
  cursor: pointer;
}
/* line 90, style.scss */
.tbd-select-selection-single .tbd-select-selection-rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 24px;
  line-height: 34px;
}
/* line 100, style.scss */
.tbd-select-selection-single .tbd-select-selection-placeholder {
  color: #8b91a0;
}
/* line 106, style.scss */
.tbd-select-lg .tbd-select-selection-single {
  height: 40px;
}
/* line 108, style.scss */
.tbd-select-lg .tbd-select-selection-single .tbd-select-selection-rendered {
  line-height: 38px;
}
/* line 115, style.scss */
.tbd-select-sm .tbd-select-selection-single {
  height: 32px;
}
/* line 117, style.scss */
.tbd-select-sm .tbd-select-selection-single .tbd-select-selection-rendered {
  line-height: 30px;
}
/* line 123, style.scss */
.tbd-select-selection-multiple {
  min-height: 36px;
  cursor: text;
}
/* line 127, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-placeholder {
  display: block;
  padding: 0 10px;
  line-height: 34px;
  color: #8b91a0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 135, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-rendered {
  padding: 5px 5px 0;
  overflow: hidden;
}
/* line 140, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice {
  position: relative;
  float: left;
  padding: 0 20px 0 10px;
  margin: 0 3px 5px;
  max-width: 99%;
  height: 24px;
  background-color: #e5e9ec;
  border-radius: 3px;
  line-height: 24px;
  cursor: default;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 154, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-editing {
  background-color: transparent;
}
/* line 157, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-editing .tbd-select-selection-choice-remove {
  display: none;
}
/* line 162, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-disabled {
  padding-right: 10px;
}
/* line 165, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-disabled .tbd-select-selection-choice-remove {
  display: none;
}
/* line 171, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-content {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 176, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-input {
  display: block;
  box-sizing: border-box;
  padding: 3px 0;
  height: 100%;
  border: none;
  background: transparent;
  line-height: 18px;
}
/* line 186, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-remove {
  position: absolute;
  right: 4px;
  top: 0;
  padding: 0 0 0 8px;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  color: #999;
  line-height: inherit;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  font-size: 12px;
  font-size: "10px 	";
  -moz-transform: scale(0.83333) rotate(0deg);
  -ms-transform: scale(0.83333) rotate(0deg);
  -webkit-transform: scale(0.83333) rotate(0deg);
  transform: scale(0.83333) rotate(0deg);
}
/* line 68, ../../style/_mixins.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-remove:before {
  display: block;
  font-family: "tbdicon" !important;
}
/* line 11, ../../style/_compatibility.scss */
:root .tbd-select-selection-multiple .tbd-select-selection-choice-remove {
  font-size: 12px;
}
/* line 199, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-remove:hover {
  color: #404040;
}
/* line 202, style.scss */
.tbd-select-selection-multiple .tbd-select-selection-choice-remove:before {
  content: "\e62d";
}
/* line 208, style.scss */
.tbd-select .tbd-dropdown {
  left: 0;
  top: 100%;
  margin-top: 2px;
  min-width: 140px;
  width: 100%;
  display: none;
}
