/* line 6, style.scss */
.vc-popover-wrap {
  position: fixed;
  left: 0;
  top: 20%;
  z-index: 1002;
  width: 100%;
  text-align: center;
}
/* line 15, style.scss */
.vc-popover {
  display: inline-block;
  max-width: 500px;
  padding: 8px 10px;
  background-color: #373737;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 1px 4px rgba(40, 40, 40, 0.15);
}
/* line 26, style.scss */
.vc-popover-error {
  border: 1px solid #fddede;
  background-color: #feeeee;
  color: #1b1e25;
}
/* line 32, style.scss */
.vc-popover-success {
  border: 1px solid #ddf5ea;
  background-color: #eefaf4;
  color: #1b1e25;
}
/* line 38, style.scss */
.vc-popover-warning {
  border: 1px solid #fef1da;
  background-color: #fef8ed;
  color: #1b1e25;
}
