/* input */
/* icon fonts */
/* line 6, style.scss */
.vc-collapse {
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #e5e9ec;
  background: #fff;
}
/* line 12, style.scss */
.vc-collapse-header {
  position: relative;
  box-sizing: border-box;
  height: 41px;
  padding: 0 15px 0 10px;
  background: #eef0f2;
  color: #1b1e25;
  line-height: 40px;
  zoom: 1;
  cursor: pointer;
  transition: background 0.3s linear;
}
/* line 5, ../../style/_mixins.scss */
.vc-collapse-header:before, .vc-collapse-header:after {
  content: " ";
  display: table;
}
/* line 10, ../../style/_mixins.scss */
.vc-collapse-header:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 24, style.scss */
.vc-collapse-header-trigger {
  float: left;
  width: 20px;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  line-height: inherit;
  color: #8b91a0;
  transition: color 0.3s linear, transform 0.24s ease;
  overflow: hidden;
}
/* line 70, ../../style/_mixins.scss */
.vc-collapse-header-trigger:before {
  display: block;
  font-family: "vcicon" !important;
}
/* line 33, style.scss */
.vc-collapse-header-trigger:before {
  content: '\e60a';
}
/* line 38, style.scss */
.vc-collapse-header-title {
  float: left;
  font-weight: normal;
  font-size: 12px;
}
/* line 44, style.scss */
.vc-collapse-header-extra {
  float: right;
}
/* line 48, style.scss */
.vc-collapse-header:hover {
  background: #e5e9ec;
}
/* line 51, style.scss */
.vc-collapse-header:hover .vc-collapse-header-trigger {
  color: #1b1e25;
}
/* line 57, style.scss */
.vc-collapse-content {
  display: none;
  box-sizing: border-box;
  padding: 15px;
  border-top: 1px solid #e5e9ec;
}
/* line 65, style.scss */
.vc-collapse-open .vc-collapse-header-trigger {
  transform: rotate(90deg);
}
/* line 68, style.scss */
.vc-collapse-open .vc-collapse-content {
  display: block;
}
/* line 73, style.scss */
.vc-collapse-active .vc-collapse-header {
  color: #fff;
  background: #57cc95;
}
/* line 77, style.scss */
.vc-collapse-active .vc-collapse-header:hover {
  background: #43c689;
}
/* line 80, style.scss */
.vc-collapse-active .vc-collapse-header:hover .vc-collapse-header-trigger {
  color: #fff;
}
/* line 85, style.scss */
.vc-collapse-active .vc-collapse-header-trigger {
  color: #fff;
}
/* line 88, style.scss */
.vc-collapse-active .vc-collapse-header .vc-link {
  color: #fff;
}
/* line 93, style.scss */
.vc-collapse-group {
  margin-bottom: 20px;
}
/* line 96, style.scss */
.vc-collapse-group > .vc-collapse {
  margin-bottom: 0;
  border-bottom-width: 0;
}
/* line 100, style.scss */
.vc-collapse-group > .vc-collapse:last-child {
  border-bottom-width: 1px;
}
/* line 107, style.scss */
.vc-collapse-noborder {
  margin-bottom: 10px;
  border: none;
}
/* line 111, style.scss */
.vc-collapse-noborder .vc-collapse-header {
  position: relative;
  padding: 0;
  height: 36px;
  line-height: 36px;
  background: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 120, style.scss */
.vc-collapse-noborder .vc-collapse-header:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #e5e9ec;
  visibility: visible;
}
/* line 132, style.scss */
.vc-collapse-noborder .vc-collapse-header-trigger {
  position: relative;
  z-index: 2;
  background: #fff;
}
/* line 137, style.scss */
.vc-collapse-noborder .vc-collapse-header-title {
  position: relative;
  z-index: 2;
  padding-right: 10px;
  background: #fff;
}
/* line 145, style.scss */
.vc-collapse-noborder .vc-collapse-content {
  padding: 5px 0 0;
  border: none;
}
