/* input */
/* icon fonts */
/* line 8, style.scss */
.tbd-input-number {
  display: inline-block;
  position: relative;
}
/* line 12, style.scss */
.tbd-input-number .tbd-input {
  padding-right: 25px;
}
/* line 16, style.scss */
.tbd-input-number-handle-wrap {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 20px;
  border-left: 1px solid #e5e9ec;
}
/* line 25, style.scss */
.tbd-input-number-handle {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: none;
  background: none;
  color: #8b91a0;
  line-height: 18px;
}
/* line 35, style.scss */
.tbd-input-number-handle-down {
  border-top: 1px solid #e5e9ec;
}
/* line 39, style.scss */
.tbd-input-number-handle:hover {
  color: #57cc95;
}
/* line 44, style.scss */
.tbd-input-number .tbdi {
  display: inline-block;
  font-size: 12px;
  font-size: "8px 	";
  -moz-transform: scale(0.66667) rotate(0deg);
  -ms-transform: scale(0.66667) rotate(0deg);
  -webkit-transform: scale(0.66667) rotate(0deg);
  transform: scale(0.66667) rotate(0deg);
  font-weight: bold;
}
/* line 11, ../../style/_compatibility.scss */
:root .tbd-input-number .tbdi {
  font-size: 12px;
}
/* line 51, style.scss */
.tbd-input-number-sm .tbd-input {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 32px;
  font-size: 12px;
  line-height: 1.5;
  padding-right: 20px;
}
/* line 56, style.scss */
.tbd-input-number-sm .tbd-input-number-handle {
  line-height: 16px;
}
/* line 62, style.scss */
.tbd-input-number-lg .tbd-input {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  height: 40px;
  font-size: 14px;
  line-height: 1.5;
  padding-right: 20px;
}
/* line 67, style.scss */
.tbd-input-number-lg .tbd-input-number-handle {
  line-height: 20px;
}
/* line 74, style.scss */
.tbd-input-number-success .tbd-input {
  border-color: #57cc95;
}
/* line 80, style.scss */
.tbd-input-number-error .tbd-input {
  border-color: #f35958;
}
/* line 86, style.scss */
.tbd-input-number-warning .tbd-input {
  border-color: #f9ba46;
}
/* line 92, style.scss */
.tbd-input-number-disabled .tbd-input-number-handle {
  cursor: not-allowed;
}
/* line 93, style.scss */
.tbd-input-number-disabled .tbd-input-number-handle-wrap {
  border-left-color: #d2d4d8;
}
/* line 99, style.scss */
.tbd-input-number-disabled .tbd-input-number-handle:hover {
  color: #8b91a0;
}
