@import "../../style/ver";
@import "../../style/compatibility";
@import "../../style/mixins";

$input-number-prefix-cls: $css-prefix + "input-number";
$input-prefix-cls: $css-prefix + "input";

.#{$input-number-prefix-cls} {
  display: inline-block;
  position: relative;

  .#{$input-prefix-cls} {
    padding-right: 25px;
  }

  &-handle-wrap {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 20px;
    border-left: 1px solid $border-color;
  }

  &-handle {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: none;
    background: none;
    color: $gray-color;
    line-height: 18px;
    cursor: pointer;

    &-down {
      border-top: 1px solid $border-color;
    }

    &:hover {
      color: $primary-color;
    }
  }

  .#{$iconfont-css-prefix} {
    @include iconfont-size-under-12px(8px);
    font-weight: bold;
  }

  // 不同尺寸
  &-sm {
    .#{$input-prefix-cls} {
      @include input($height-sm, $font-size-base);
      padding-right: 20px;
    }

    .#{$input-number-prefix-cls}-handle {
      line-height: $height-sm / 2;
    }
  }

  &-lg {
    .#{$input-prefix-cls} {
      @include input($height-lg, $font-size-lg);
      padding-right: 20px;
    }

    .#{$input-number-prefix-cls}-handle {
      line-height: $height-lg / 2;
    }
  }

  // 不同状态
  &-success {
    .#{$input-prefix-cls} {
      border-color: $success-color;
    }
  }

  &-error {
    .#{$input-prefix-cls} {
      border-color: $error-color;
    }
  }

  &-warning {
    .#{$input-prefix-cls} {
      border-color: $warning-color;
    }
  }

  &-disabled {
    .#{$input-number-prefix-cls}-handle {
      &-wrap {
        border-left-color: $border-focus-color;
      }

      cursor: $cursor-disabled;

      &:hover {
        color: $gray-color;
      }
    }
  }
}
