@import "ver";
// Layout and Grid system
$grid-columns:          24;
$grid-gutter-width:     0;

@for $i from 1 through $grid-columns {
  .#{$css-prefix}col-#{$i} {
    position: relative;
    display: block;
    float: left;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    box-sizing: border-box;
  }

  .#{$css-prefix}col-#{$i} {
    width: percentage(($i / $grid-columns))
  }

  .tbd-col-push-#{$i} {
    left: percentage(($i / $grid-columns));
  }

  .tbd-col-pull-#{$i} {
    right: percentage(($i / $grid-columns));
  }

  .tbd-col-offset-#{$i} {
    margin-left: percentage(($i / $grid-columns));
  }
}