// prefix classname
$css-prefix: vc-; // tencent big data
$iconfont-css-prefix: vci;

// color
$base-color: #1b1e25;
$gray-color: #8b91a0;
$blue-color: #3598dc;
$info-color: $blue-color;
$primary-color: #57cc95;
$success-color: #57cc95;
$error-color: #f35958;
$warning-color: #f9ba46;

// border color
$border-color: #e5e9ec;
$border-focus-color: #d2d4d8;
$border-disabled-color: #d2d4d8;
$box-shadow: 0 1px 4px rgba(40, 40, 40, 0.15);
$border-color-split: #f0f0f0;

// margin && padding
$gutter-base:           20px;
$gutter-sm:             10px;
$gutter-lg:             30px;

// form item height
$height: 36px;
$height-xs: 28px;
$height-sm: 32px;
$height-lg: 40px;

// background
$base-bg: #e5e9ec;
$body-bg: $base-bg;
$hover-bg: #f1f4f6;
$light-bg: #f1f4f6;

// form item height
$height:    36px;
$height-xs: 28px;
$height-sm: 32px;
$height-lg: 40px;

$font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB", "Microsoft Yahei", "\5b8b\4f53",Arial,sans-serif;
$code-family: Consolas,Menlo,Courier,monospace;
$font-size-base: 12px;
$font-size-lg: 14px;
$font-size-xl: 16px;
$line-height-base: 1.5;
$border-radius-base: 3px;
$border-radius-lg: 5px;

// cursor state
$cursor-disabled: not-allowed;
$cursor-pointer: pointer;

// link
$link-color:            $blue-color;
$link-hover-color:      tint($link-color, 20%);
$link-active-color:     shade($link-color, 5%);
$link-hover-decoration: none;

// scrollbar
$scrollbar-width: 8px;
$scrollbar-height: 8px;
$scrollbar-thumb-bg: #bebdbd;
$scrollbar-thumb-hover-bg: #666;
$scrollbar-track-piece-decrement-bg: #f5f5f5;
$scrollbar-track-piece-increment-bg: #f5f5f5;

// animation
$ease-out:              cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in:               cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out:           cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back:         cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back:          cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back:      cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ:         cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ:          cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ:      cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint:        cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint:         cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint:     cubic-bezier(0.86, 0, 0.07, 1);

// input
$input-padding: 3px 10px;
$input-padding-lg: 3px 20px;

@import 'theme.scss';