@import "../../style/ver";
@import "bourbon";

$confirm-prefix-cls: $css-prefix + "confirm";

.#{$confirm-prefix-cls} {

  .vc-dialog-header {
    display: none;
  }
  
  .vc-dialog-body {
    padding: 30px 40px;
  }

  .#{$confirm-prefix-cls}-body {
    position: relative;
    padding-top: 8px;
    padding-left: 42px;
    min-height: 28px;

    .#{$confirm-prefix-cls}-title {
      color: $base-color;
      font-size: 14px;
    }

    .#{$confirm-prefix-cls}-content {
      font-size: $font-size-base;
      color: $gray-color;
      margin-top: 8px;
    }

    .vci {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 32px;
    }

    .vci-exclamation-circle {
      color: $error-color;
    }

    .vci-question-circle {
      color: $warning-color;
    }

    .vci-check-circle {
      color: $success-color;
    }

    .vci-info-circle {
      color: $info-color;
    }
  }

.#{$confirm-prefix-cls}-btns {
    margin-top: 30px;
    text-align: center;

    button + button {
      margin-left: 8px;
    }
    button {
      line-height: 30px;
      min-width: 80px;
      height: 32px;
    }
  }
}
