@mixin motion-common() {
  animation-duration: .2s;
  animation-fill-mode: both;
}

@mixin motion-common-leave() {
  animation-duration: .2s;
  animation-fill-mode: both;
}

@mixin make-motion($className, $keyframeName) {
  .#{$className}-enter,
  .#{$className}-appear {
    @include motion-common();
    animation-play-state: paused;
  }
  .#{$className}-leave {
    @include motion-common-leave();
    animation-play-state: paused;
  }
  .#{$className}-enter.#{$className}-enter-active,
  .#{$className}-appear.#{$className}-appear-active {
    animation-name: #{$keyframeName}+ "In";
    animation-play-state: running;
  }
  .#{$className}-leave.#{$className}-leave-active {
    animation-name: #{$keyframeName} + "Out";
    animation-play-state: running;
  }
}
