@import "base";

@mixin slide-motion($className, $keyframeName) {
  @include make-motion($className, $keyframeName);
  .#{$className}-enter,
  .#{$className}-appear {
    opacity: 0;
    animation-timing-function: $ease-out-quint;
  }
  .#{$className}-leave {
    animation-timing-function: $ease-in-quint;
  }
}

@include slide-motion(slide-up, tbdSlideUp);
@include slide-motion(slide-down, tbdSlideDown);
@include slide-motion(slide-left, tbdSlideLeft);
@include slide-motion(slide-right, tbdSlideRight);

@include keyframes(tbdSlideUpIn) {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}

@include keyframes(tbdSlideUpOut) {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);
  }
}

@include keyframes(tbdSlideDownIn) {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}

@include keyframes(tbdSlideDownOut) {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(.8);
  }
}

@include keyframes(tbdSlideLeftIn) {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}

@include keyframes(tbdSlideLeftOut) {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(.8);
  }
}

@include keyframes(tbdSlideRightIn) {
  0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
}

@include keyframes(tbdSlideRightOut) {
  0% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(.8);
  }
}
