@import "base";

@mixin zoom-motion($className, $keyframeName) {
  @include make-motion($className, $keyframeName);
  .#{$className}-enter,
  .#{$className}-appear {
    transform: scale(0); // need this by yiminghe
    animation-timing-function: $ease-out-circ;
  }
  .#{$className}-leave {
    animation-timing-function: $ease-in-out-circ;
  }
}

@include zoom-motion(zoom, vcZoom);
@include zoom-motion(zoom-big, vcZoomBig);
@include zoom-motion(zoom-up, vcZoomUp);
@include zoom-motion(zoom-down, vcZoomDown);
@include zoom-motion(zoom-left, vcZoomLeft);
@include zoom-motion(zoom-right, vcZoomRight);

@include keyframes(vcZoomIn) {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@include keyframes(vcZoomOut) {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@include keyframes(vcZoomBigIn) {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

@include keyframes(vcZoomBigOut) {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@include keyframes(vcZoomUpIn) {
  0% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(.8);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scale(1);
  }
}

@include keyframes(vcZoomUpOut) {
  0% {
    transform-origin: 50% 0%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(.8);
  }
}

@include keyframes(vcZoomLeftIn) {
  0% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(.8);
  }
  100% {
    transform-origin: 0% 50%;
    transform: scale(1);
  }
}

@include keyframes(vcZoomLeftOut) {
  0% {
    transform-origin: 0% 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(.8);
  }
}

@include keyframes(vcZoomRightIn) {
  0% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(.8);
  }
  100% {
    transform-origin: 100% 50%;
    transform: scale(1);
  }
}

@include keyframes(vcZoomRightOut) {
  0% {
    transform-origin: 100% 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(.8);
  }
}

@include keyframes(vcZoomDownIn) {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(.8);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1);
  }
}

@include keyframes(vcZoomDownOut) {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(.8);
  }
}
