/* line 5, style.scss */
.tbd-dialog {
  outline: none;
  position: relative;
  z-index: 1000;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
/* line 13, style.scss */
.tbd-dialog-hidden {
  display: none;
}
/* line 17, style.scss */
.tbd-dialog-title {
  margin: 0;
  font-size: 14px;
  line-height: 50px;
  color: #1b1e25;
  text-align: center;
  font-weight: normal;
}
/* line 26, style.scss */
.tbd-dialog-content {
  position: relative;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  background-clip: padding-box;
  outline: 0;
}
/* line 35, style.scss */
.tbd-dialog-close {
  cursor: pointer;
  outline: none;
  margin-top: -2px;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  transition: color .3s ease;
  color: #8b91a0;
}
/* line 49, style.scss */
.tbd-dialog-close-x {
  position: absolute;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  width: 12px;
  height: 12px;
  font-size: 14px;
  line-height: 12px;
  top: 18px;
  right: 18px;
  z-index: 1;
}
/* line 65, style.scss */
.tbd-dialog-close-x:before {
  content: "\e62d";
  display: block;
  font-family: "tbdicon" !important;
}
/* line 72, style.scss */
.tbd-dialog-close:hover {
  color: #1b1e25;
  text-decoration: none;
}
/* line 78, style.scss */
.tbd-dialog-header {
  padding: 0 20px;
  border-radius: 3px 3px 0 0;
  background: #fff;
  color: #8b91a0;
  border-bottom: 1px solid #f0f0f0;
}
/* line 85, style.scss */
.tbd-dialog-header * {
  box-sizing: border-box;
}
/* line 90, style.scss */
.tbd-dialog-body {
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.5;
}
/* line 97, style.scss */
.tbd-dialog-footer {
  border-top: 1px solid #f0f0f0;
  padding: 15px 20px;
  text-align: center;
  border-radius: 0 0 3px 3px;
}
/* line 103, style.scss */
.tbd-dialog-footer * {
  box-sizing: border-box;
}
/* line 107, style.scss */
.tbd-dialog-footer button + button {
  margin-left: 8px;
}
/* line 110, style.scss */
.tbd-dialog-footer button {
  line-height: 30px;
  min-width: 80px;
  height: 32px;
}
/* line 117, style.scss */
.tbd-dialog-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}
/* line 127, style.scss */
.tbd-dialog-wrap:after {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
/* line 138, style.scss */
.tbd-dialog-autoscroll .tbd-dialog-body {
  overflow: auto;
  max-height: 500px;
}
