/* input */
/* icon fonts */
/* line 16, style.scss */
.vc-input-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
}
/* line 23, style.scss */
.vc-input-wrap-extra {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 3px 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #8b91a0;
}
/* line 36, style.scss */
.vc-input-wrap button.vc-input-wrap-extra {
  border-color: transparent;
  border-left-width: 0;
  background-color: #fff;
  background-color: transparent\9;
  background-clip: padding-box;
  cursor: pointer;
  transition: all .3s linear;
}
/* line 45, style.scss */
:root .vc-input-wrap button.vc-input-wrap-extra {
  background-color: #fff;
}
/* line 49, style.scss */
.vc-input-wrap button.vc-input-wrap-extra:hover {
  color: #57cc95;
}
/* line 6, style.scss */
.vc-input-wrap-search .vc-input {
  border-radius: 18px !important;
}
/* line 10, style.scss */
.vc-input-wrap-search button.vc-input-wrap-extra {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
/* line 58, style.scss */
.vc-input-wrap-search button.vc-input-wrap-extra {
  font-weight: bold;
}
/* line 66, style.scss */
.vc-input-wrap-sm .vc-input, .vc-input-wrap-sm .vc-input-wrap-extra {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 32px;
  font-size: 12px;
  line-height: 1.5;
}
/* line 6, style.scss */
.vc-input-wrap-sm.vc-input-wrap-search .vc-input {
  border-radius: 16px !important;
}
/* line 10, style.scss */
.vc-input-wrap-sm.vc-input-wrap-search button.vc-input-wrap-extra {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
/* line 78, style.scss */
.vc-input-wrap-lg .vc-input, .vc-input-wrap-lg .vc-input-wrap-extra {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  height: 40px;
  font-size: 14px;
  line-height: 1.5;
}
/* line 82, style.scss */
.vc-input-wrap-lg .vc-input {
  padding: 3px 20px;
}
/* line 6, style.scss */
.vc-input-wrap-lg.vc-input-wrap-search .vc-input {
  border-radius: 20px !important;
}
/* line 10, style.scss */
.vc-input-wrap-lg.vc-input-wrap-search button.vc-input-wrap-extra {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
