/* line 9, style.scss */
.vc-table {
  margin-bottom: 20px;
  font-size: 12px;
  color: #1b1e25;
  line-height: 2;
}
/* line 15, style.scss */
.vc-table-body {
  transition: opacity 0.3s ease;
}
/* line 20, style.scss */
.vc-table-autoscroll .vc-table-body {
  overflow: auto;
}
/* line 25, style.scss */
.vc-table-fixed table {
  table-layout: fixed;
}
/* line 29, style.scss */
.vc-table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #f0f0f0;
}
/* line 37, style.scss */
.vc-table th {
  background: #eef0f2;
  transition: background .3s ease;
  position: relative;
  font-weight: normal;
}
/* line 43, style.scss */
.vc-table th .vci-filter,
.vc-table th .vci-question-circle-o {
  margin-left: 4px;
  font-size: 14px;
  cursor: pointer;
  color: #8b91a0;
  transition: all 0.3s ease;
}
/* line 50, style.scss */
.vc-table th .vci-filter:hover,
.vc-table th .vci-question-circle-o:hover {
  color: #1b1e25;
}
/* line 55, style.scss */
.vc-table th .vci-filter {
  display: inline-block;
  font-size: 12px;
  font-size: "10px 	";
  -moz-transform: scale(0.83333) rotate(0deg);
  -ms-transform: scale(0.83333) rotate(0deg);
  -webkit-transform: scale(0.83333) rotate(0deg);
  transform: scale(0.83333) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-table th .vci-filter {
  font-size: 12px;
}
/* line 59, style.scss */
.vc-table th .vc-table-filter-selected.vci-filter {
  color: #57cc95;
}
/* line 63, style.scss */
.vc-table th .vc-form-explain {
  vertical-align: middle;
}
/* line 67, style.scss */
.vc-table th .vc-label {
  margin-right: 0;
}
/* line 70, style.scss */
.vc-table th .vc-label + span {
  margin-left: 5px;
}
/* line 76, style.scss */
.vc-table td {
  border-bottom: 1px solid #f0f0f0;
}
/* line 80, style.scss */
.vc-table tr {
  transition: all .3s ease;
}
/* line 82, style.scss */
.vc-table tr:hover {
  background: #f1f4f6;
}
/* line 87, style.scss */
.vc-table thead tr:hover {
  background: none;
}
/* line 91, style.scss */
.vc-table thead th {
  white-space: nowrap;
}
/* line 95, style.scss */
.vc-table tfoot tr {
  background: #eef0f2;
  position: relative;
  top: -1px;
}
/* line 99, style.scss */
.vc-table tfoot tr:hover {
  background: #eef0f2;
}
/* line 102, style.scss */
.vc-table tfoot tr td {
  border: 0;
}
/* line 107, style.scss */
.vc-table tr.vc-table-row-selected {
  background: #f1f4f6;
}
/* line 111, style.scss */
.vc-table th,
.vc-table td {
  padding: 13px 10px;
  box-sizing: border-box;
}
/* line 116, style.scss */
.vc-table th:first-child,
.vc-table td:first-child {
  padding-left: 20px;
}
/* line 119, style.scss */
.vc-table th:last-child,
.vc-table td:last-child {
  padding-right: 20px;
}
/* line 124, style.scss */
.vc-table th.vc-table-selection-column,
.vc-table td.vc-table-selection-column {
  text-align: center;
  width: 60px;
}
/* line 130, style.scss */
.vc-table-header + .vc-table-body {
  overflow: auto;
  height: 360px;
}
/* line 135, style.scss */
.vc-table-loading {
  position: relative;
}
/* line 137, style.scss */
.vc-table-loading .vc-table-body {
  background: #fff;
  opacity: 0.5;
}
/* line 141, style.scss */
.vc-table-loading .vc-table-spin-holder {
  height: 20px;
  line-height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  position: absolute;
}
/* line 151, style.scss */
.vc-table-column-sorter {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
}
/* line 158, style.scss */
.vc-table-column-sorter-up, .vc-table-column-sorter-down {
  line-height: 4px;
  height: 6px;
  display: block;
  width: 12px;
  cursor: pointer;
}
/* line 165, style.scss */
.vc-table-column-sorter-up:hover .vci, .vc-table-column-sorter-down:hover .vci {
  color: #1b1e25;
}
/* line 169, style.scss */
.vc-table-column-sorter-up.on .vci-caret-up,
.vc-table-column-sorter-up.on .vci-caret-down, .vc-table-column-sorter-down.on .vci-caret-up,
.vc-table-column-sorter-down.on .vci-caret-down {
  color: #57cc95;
}
/* line 175, style.scss */
.vc-table-column-sorter .vci-caret-up,
.vc-table-column-sorter .vci-caret-down {
  display: inline-block;
  font-size: 12px;
  font-size: "6px 	";
  -moz-transform: scale(0.5) rotate(0deg);
  -ms-transform: scale(0.5) rotate(0deg);
  -webkit-transform: scale(0.5) rotate(0deg);
  transform: scale(0.5) rotate(0deg);
  line-height: 6px;
  height: 6px;
  color: #8b91a0;
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-table-column-sorter .vci-caret-up, :root
.vc-table-column-sorter .vci-caret-down {
  font-size: 12px;
}
/* line 181, style.scss */
.vc-table-column-sorter .vci-caret-up:before,
.vc-table-column-sorter .vci-caret-down:before {
  -moz-transform-origin: 53% 50%;
  /* fix firefox position */
}
/* line 189, style.scss */
.vc-table.vc-table-bordered table {
  border: 1px solid #f0f0f0;
}
/* line 197, style.scss */
.vc-table.vc-table-bordered th {
  border-bottom: 1px solid #f0f0f0;
}
/* line 201, style.scss */
.vc-table.vc-table-bordered td {
  border-right: 1px solid #f0f0f0;
}
/* line 206, style.scss */
.vc-table.vc-table-bordered tbody tr:last-child th,
.vc-table.vc-table-bordered tbody tr:last-child td {
  border-bottom: 0;
}
/* line 214, style.scss */
.vc-table.vc-table-bordered th:first-child,
.vc-table.vc-table-bordered td:first-child {
  padding-left: 10px;
}
/* line 217, style.scss */
.vc-table.vc-table-bordered th:last-child,
.vc-table.vc-table-bordered td:last-child {
  padding-right: 10px;
  border-right: 0;
}
/* line 226, style.scss */
.vc-table-sm th,
.vc-table-sm td {
  padding: 10px;
}

/* line 235, style.scss */
.vc-table-cell-expand {
  width: 60px;
}
/* line 239, style.scss */
.vc-table-cell-expand:hover .vc-table-cell-expand-icon {
  color: #1b1e25;
}
/* line 245, style.scss */
.vc-table-cell-expand-icon {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  user-select: none;
  font-family: 'vcicon';
  font-style: normal;
  color: #8b91a0;
}
/* line 256, style.scss */
.vc-table-cell-expand-icon:after {
  content: '\e600';
}
/* line 262, style.scss */
.vc-table-row {
  cursor: pointer;
}
/* line 265, style.scss */
.vc-table-row-active {
  background: #fbfbfb;
}
/* line 268, style.scss */
.vc-table-row-active .vc-table-cell-expand-icon:after {
  content: '\e603';
}
/* line 275, style.scss */
tr
.vc-table-expanded-row:hover {
  background: #fbfbfb;
}

/* line 282, style.scss */
.vc-table-filter-dropdown .vc-label {
  display: block;
  margin: -7px -15px;
  padding: 4px 15px;
}

/* line 290, style.scss */
.vc-multi-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em;
}
