/* input */
/* icon fonts */
/* line 13, style.scss */
.vc-tree {
  margin-bottom: 20px;
}
/* line 16, style.scss */
.vc-tree-item {
  position: relative;
  display: block;
  margin-left: 15px;
  padding: 0 5px;
  height: 26px;
  line-height: 26px;
  color: #1b1e25;
  transition: background 0.3s ease;
  text-decoration: none;
}
/* line 27, style.scss */
.vc-tree-item:hover {
  color: #1b1e25;
  text-decoration: none;
  background-color: #f4f5f7;
}
/* line 32, style.scss */
.vc-tree-item:hover .vc-tree-checkbox {
  border-color: #d2d4d8;
}
/* line 38, style.scss */
.vc-tree-caret {
  position: absolute;
  left: -15px;
  top: 0;
  width: 20px;
  height: 100%;
  text-align: center;
  color: #8b91a0;
  cursor: pointer;
}
/* line 48, style.scss */
.vc-tree-caret:after {
  content: '\E60A';
  font-family: 'vcicon';
  line-height: 1;
  font-style: normal;
  display: inline-block;
  font-size: 12px;
  font-size: "8px 	";
  -moz-transform: scale(0.66667) rotate(0deg);
  -ms-transform: scale(0.66667) rotate(0deg);
  -webkit-transform: scale(0.66667) rotate(0deg);
  transform: scale(0.66667) rotate(0deg);
}
/* line 11, ../../style/_compatibility.scss */
:root .vc-tree-caret:after {
  font-size: 12px;
}
/* line 56, style.scss */
.vc-tree-caret:hover {
  color: #1b1e25;
}
/* line 61, style.scss */
.vc-tree-checkbox {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border: 1px solid #e5e9ec;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
/* line 75, style.scss */
.vc-tree-checkbox:after {
  display: none;
  position: absolute;
  top: 0px;
  left: 3px;
  box-sizing: border-box;
  width: 6px;
  height: 9px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: '';
  transform: rotate(45deg);
}
/* line 91, style.scss */
.vc-tree-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 96, style.scss */
.vc-tree ul {
  margin-left: 15px;
  display: none;
}
/* line 104, style.scss */
.vc-tree-open > .vc-tree-item .vc-tree-caret:after {
  content: '\E611';
}
/* line 109, style.scss */
.vc-tree-open > ul {
  display: block;
}
/* line 116, style.scss */
.vc-tree-checked > .vc-tree-item {
  color: #57cc95;
}
/* line 119, style.scss */
.vc-tree-checked > .vc-tree-item .vc-tree-checkbox {
  position: relative;
  border-color: #57cc95;
  background: #57cc95;
}
/* line 124, style.scss */
.vc-tree-checked > .vc-tree-item .vc-tree-checkbox:after {
  display: block;
}
/* line 133, style.scss */
.vc-tree-disabled > .vc-tree-item {
  color: #8b91a0;
  cursor: not-allowed;
}
/* line 137, style.scss */
.vc-tree-disabled > .vc-tree-item:hover {
  background: transparent;
  color: #8b91a0;
}
/* line 142, style.scss */
.vc-tree-disabled > .vc-tree-item .vc-tree-checkbox {
  position: relative;
  border-color: #d2d4d8;
  background: #e5e9ec;
  cursor: not-allowed;
}
/* line 148, style.scss */
.vc-tree-disabled > .vc-tree-item .vc-tree-checkbox:after {
  border-color: #d2d4d8;
}
