@import "../../style/ver";
@import "../../style/mixins";
@import "../button/ver";

$btn-group-cls: $css-prefix + 'btn';

// 按钮组
.#{$btn-group-cls}-group {
  & {
    @include clearfix();
    display: inline-block;
  }

  .#{$btn-group-cls} {
    float: left;
    margin-left: -1px;
    border-radius: 0;

    &:first-child {
      margin-left: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &:hover {
      position: relative;
      z-index: 2;
      border-color: $primary-color;
      color: $primary-color;
    }

    &-primary {
      border-left-color: lighten($btn-primary-border-color, 8%);

      &:first-child {
        border-left: $btn-primary-border-color;
      }
      &:hover {
        color: #fff;
      }
    }

    &-disabled {
      &:hover {
        border-color: $btn-disabled-border-color;
        color: $btn-disabled-color;
        background: $btn-disabled-bg;
      }
    }
}

  //不同尺寸
  &-xs {
    .#{$btn-group-cls} {
    padding: $btn-padding-xs;
    height: $height-xs;
    line-height: $height-xs - 2px;
    font-size: $font-size-base;
  }
  }

  &-sm {
    .#{$btn-group-cls} {
      padding: $btn-padding-sm;
      height: $height-sm;
      line-height: $height-sm - 2px;
      font-size: $font-size-base;
    }
  }
}
