/* line 13, style.scss */
.tbd-slider {
  position: relative;
  margin: 10px 8px;
  height: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #e9e9e9;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transition: background-color 0.3s ease;
}
/* line 25, style.scss */
.tbd-slider * {
  box-sizing: border-box;
}
/* line 29, style.scss */
.tbd-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 3px;
  background-color: #bcebd5;
  z-index: 1;
  transition: background-color 0.3s ease;
}
/* line 39, style.scss */
.tbd-slider:hover {
  background-color: #e1e1e1;
}
/* line 41, style.scss */
.tbd-slider:hover .tbd-slider-handle {
  border-color: #79d6aa;
}
/* line 46, style.scss */
.tbd-slider:hover .tbd-slider-track {
  background-color: #9ae0bf;
}
/* line 50, style.scss */
.tbd-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #abe6ca;
  background-color: #fff;
  z-index: 2;
  transition: border-color 0.3s ease;
}
/* line 63, style.scss */
.tbd-slider-handle:hover {
  border-color: #79d6aa;
}
/* line 68, style.scss */
.tbd-slider-handle-active:active {
  border-color: #79d6aa;
  box-shadow: 0 0 0 2px rgba(87, 204, 149, 0.2);
}
/* line 76, style.scss */
.tbd-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1.1;
  z-index: 3;
}
/* line 86, style.scss */
.tbd-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
/* line 94, style.scss */
.tbd-slider-mark-text-active {
  color: #666;
}
/* line 99, style.scss */
.tbd-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
/* line 107, style.scss */
.tbd-slider-dot {
  position: absolute;
  top: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 118, style.scss */
.tbd-slider-dot:first-child {
  margin-left: -4px;
}
/* line 121, style.scss */
.tbd-slider-dot:last-child {
  margin-left: -4px;
}
/* line 124, style.scss */
.tbd-slider-dot-active {
  border-color: #abe6ca;
}
/* line 129, style.scss */
.tbd-slider-disabled {
  cursor: not-allowed;
  background-color: #e9e9e9 !important;
}
/* line 133, style.scss */
.tbd-slider-disabled .tbd-slider-track {
  background-color: #ccc !important;
}
/* line 137, style.scss */
.tbd-slider-disabled .tbd-slider-handle,
.tbd-slider-disabled .tbd-slider-dot {
  border-color: #ccc !important;
  background-color: #fff;
  cursor: not-allowed;
}
/* line 144, style.scss */
.tbd-slider-disabled .tbd-slider-mark-text,
.tbd-slider-disabled .tbd-slider-dot {
  cursor: not-allowed !important;
}
/* line 151, style.scss */
.tbd-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 4;
  visibility: visible;
}
/* line 158, style.scss */
.tbd-slider-tooltip-hidden {
  display: none;
}
/* line 162, style.scss */
.tbd-slider-tooltip-placement-points-bc-tc {
  padding: 4px 0 8px 0;
}
/* line 166, style.scss */
.tbd-slider-tooltip-inner {
  padding: 6px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 3px;
}
/* line 179, style.scss */
.tbd-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
/* line 187, style.scss */
.tbd-slider-tooltip-placement-points-bc-tc .tbd-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}
/* line 196, style.scss */
.tbd-slider .min, .tbd-slider .cur {
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
/* line 201, style.scss */
.tbd-slider .max {
  left: 100%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
/* line 207, style.scss */
.tbd-slider .show-tips {
  bottom: 100%;
  left: 50%;
  cursor: auto;
  transform: translate(-50%);
  min-width: 7em;
  display: none;
}
/* line 216, style.scss */
.tbd-slider .tbd-slider-handle:hover .show-tips {
  display: block;
}
/* line 220, style.scss */
.tbd-slider .show-tips .tbd-tooltip-inner {
  min-width: 5em;
  text-align: center;
}
